<html lang="en">
    <%- include ('../partials/head.ejs') %>
    <body>
        <%- include('../partials/nav.ejs') %>
        <div class="blogs content">
            <h2>Courses offered this semester</h2>
            <% if(role === 'teacher') { %>
                <p>Teacher</p>
                <ul>
                    <li><a href="/blogs/create"><button class="btn">Add to the Course Catalog. </button></a></li>
                    <% if (blogs.length > 0) { %>
                        <% blogs.forEach(function(blog) { %>
                            <a class="single" href="/blogs/<%= blog._id %>">
                                <h3>Course Name: <%= blog.name %></h3>
                                <h4>Description: <%= blog.description %></h4>
                                <h5>Subject: <%= blog.subject %></h5>
                            </a>
                        <% }) %>
                    <% } else { %>
                        <p>There are no classes to display...</p>
                    <% } %>
                </ul>

            <% } else if(role === 'student') { %>
                <h1>Student</h1>
                <h2>Your Schedule</h2>
                            <% if (blogs.user_courses != undefined) { %>
                            <% blogs.forEach(function(blog) { %>
                                <% if(blog.user_courses && Array.isArray(blog.user_courses)) { %>
                                    <% blog.user_courses.forEach(function(user_course) { %>
                                        <li>
                                            <h3><%= blog.name %></h3>
                                            <p><%= user_course.description %></p>
                                            <p>Subject: <%= user_course.subject %></p>
                                            <p>Credits: <%= user_course.credits %></p>
                                        </li>
                                    <% }); %>
                                    
                                <% } %>
                            <% }); %>
                            <% } else { %>
                                <p>You are not enrolled in any classes.</p>
                            <% } %>
                <ul>
                    <li><a href="/searchpage"><button class="btn">Search for class</button></a></li>
                    <% if(blogs.length > 0) { %>
                        <ul>
                            <% blogs.forEach(function(blog) { %>
                                <li>
                                    <h3><%= blog.name %></h3>
                                    <p><%= blog.description %></p>
                                    <p>Subject: <%= blog.subject %></p>
                                    <p>Credits: <%= blog.credits %></p>
                                    <form action="blogs/add_class_to_course/<%= blog._id %>" method="POST" class="add-class-form">
                                        <input type="" name="blog_id" value="<%= blog._id %>" class="blog_id">
                                        <input type="" name="user_id" value="<%= user._id %>" class="user_id">
                                        <button class="btn btn-lg btn-primary add-class-button" type="submit">Add class</button>
                                    </form>
                                </li>
                            <% }) %>
                            
                        </ul>
                    <% } else { %>
                        <p>No classes found.</p>
                    <% } %>
                </ul>
            </div>
            <% } %>  
        <%- include('../partials/footer.ejs') %>
    </body>
</html>
<script>
    // Get all the "Add Class" buttons
    var buttons = document.querySelectorAll('.add-class-button');

    // Attach a click event listener to each button
    buttons.forEach(function(button) {
        button.addEventListener('click', function(event) {
            // Prevent the form from being submitted normally
            event.preventDefault();

            // Get the parent form of the clicked button
            var form = this.parentElement;

            // Get the blog_id and user_id of the clicked blog
            var blog_id = form.querySelector('.blog_id').value;
            var user_id = form.querySelector('.user_id').value;

            // Send the POST request
            fetch('/blogs/add_class_to_course/' + blog_id, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ user_id: user_id }),
            })
            .then(response => response.json())
            .then(data => {
                console.log('Success:', data);
            })
            .catch((error) => {   
                console.error('Error:', error);
            });
        });
    });
</script>
