<html lang="en">
    <%- include ('../partials/head.ejs') %>
    <body>
        <%- include('../partials/nav.ejs') %>
        <div class="blogs content">
            <h2>Courses offered this semester</h2>
            <% if(role === 'teacher') { %>
                <p>Teacher</p>
                <ul>
                    <li><a href="/blogs/create"><button class="btn">Add to the Course Catalog. </button></a></li>
                    <% if (blogs.length > 0) { %>
                        <% blogs.forEach(function(blog) { %>
                            <a class="single" href="/blogs/<%= blog._id %>">
                                <h3>Course Name: <%= blog.name %></h3>
                                <h4>Description: <%= blog.description %></h4>
                                <h5>Subject: <%= blog.subject %></h5>
                            </a>
                        <% }) %>
                    <% } else { %>
                        <p>There are no classes to display...</p>
                    <% } %>
                </ul>

            <% } else if(role === 'student') { %>
                <h1>Student</h1>
                <h2>Your Schedule</h2>
                            <% if (blogs.length > 0 ) { %>
                            <% blogs.forEach(function(blog) { %>
                                <% if(blog.user_courses && Array.isArray(blog.user_courses)) { %>
                                    <% blog.user_courses.forEach(function(user_course) { %>
                                        <li>
                                                                                   
                                            <h3><%= blog.name %></h3>
                                            <p><%= blog.description %></p>
                                            <p>Subject: <%= blog.subject %></p>
                                            <p>Credits: <%= blog.credits %></p><br>
                                            
                                            <form class="remove-class-form">
                                                <input type="hidden" name="blog_id" value="<%= blog._id %>" class="blog_id">
                                                <input type="hidden" name="user_id" value="<%= user._id %>" class="user_id">
                                                <!-- <input type="hidden" name="_method" value="DELETE"> -->
                                                <button class="btn btn-lg btn-danger delete-class-button" type="submit">Remove class from schedule</button>
                                            </form>
                                        </a>
                                        </li>
                                    <% }); %>
                                    
                                <% } %>
                            <% }); %>
                            <% } else { %>
                                <p>You are not enrolled in any classes.</p>
                            <% } %>
                <ul>
                    <li><a href="/searchpage"><button class="btn">Search for class</button></a></li>
                    <% if(blogs.length > 0) { %>
                <ul>
                    <h1>All courses offered.</h1>
                            <% blogs.forEach(function(blog) { %>
                                <li>
                                    <h3><%= blog.name %></h3>
                                    <p><%= blog.description %></p>
                                    <p>Subject: <%= blog.subject %></p>
                                    <p>Credits: <%= blog.credits %></p>
                                    <form action="blogs/add_class_to_course/<%= blog._id %>" method="POST" class="add-class-form">
                                        <input type="hidden" name="blog_id" value="<%= blog._id %>" class="blog_id">
                                        <input type="hidden" name="user_id" value="<%= user._id %>" class="user_id">
                                        <button class="btn btn-lg btn-primary add-class-button" type="submit">Add class</button>
                                    </form>
                                </li>
                            <% }) %>
                            
                        </ul>
                    <% } else { %>
                        <p>No classes found.</p>
                    <% } %>
                </ul>
            </div>
            <% } %>  
        <%- include('../partials/footer.ejs') %>
    </body>
</html>
<script>
    /**
     * Attaches a click event listener to each "Add Class" button.
     * When a button is clicked, it prevents the form from being submitted normally,
     * retrieves the blog_id and user_id of the clicked blog,
     * and sends a POST request to add the user to the course.
     * 
     * @param {Event} event - The click event object.
     */
     var buttons = document.querySelectorAll('.add-class-button');
buttons.forEach(function(button) {
    button.addEventListener('click', function(event) {
        event.preventDefault();
        var form = this.parentElement;
        var blog_id = form.querySelector('.blog_id').value;
        var user_id = form.querySelector('.user_id').value;
        fetch('/blogs/add_class_to_course/' + blog_id, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ user_id: user_id }),
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json();
        })
        .then(data => {
            console.log('Success:', data);
            location.reload(); // Reload the page
        })
        .catch((error) => {   
            console.error('Error:', error);
        });
    }); 
});

// Send the DELETE request
var removeButtons = document.querySelectorAll('.delete-class-button');
removeButtons.forEach(function(button) {
    button.addEventListener('click', function(event) {
        event.preventDefault();
        var form = this.parentElement;
        var blog_id = form.querySelector('.blog_id').value;
        var user_id = form.querySelector('.user_id').value;
        console.log(blog_id);
        fetch('/blogs/drop_class/' + blog_id, {
            method: 'DELETE',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ user_id: user_id }),
        })
        .then(response => {
            console.log(response.status); // Log the status code
    if (!response.ok) {
        throw new Error('Network response was not ok');
    }
    // Check the response type
    const contentType = response.headers.get('content-type');
    if (!contentType || !contentType.includes('application/json')) {
        throw new TypeError("Oops, we haven't got JSON!");
    }
    return response.json();
})
.then(data => {
    console.log('Success:', data);
    location.reload();
})
.catch((error) => {   
    console.error('Error:', error);
});
    });
});

</script>
    