<html lang="en">
<%- include ('../partials/head.ejs') %>
<body>
<%- include('../partials/nav.ejs') %>
    <div class="blogs content">
        <h2>Courses offered this semester</h2>
        
        <% if(role === 'teacher') { %>
            <p>Teacher</p>
        <% } else if(role === 'student') { %>
            <p>Student</p>
        <% } %>
        
        <% if(blogs.length > 0) { %>
            <form action="/add-to-schedule" method="POST">
                <select name="blogId" class="dropdown">
                <% blogs.forEach(blog => { %>
                    <option value="<%= blog.id %>">
                        <%= blog.name %>
                        <%= blog.description %>
                        <%= blog.subject %>
                        <%= blog.credits %>
                    </option>
                <% }) %>
            </select>
            <button type="submit">Add to Schedule</button>
            </form>
        <% } else { %>
            <p>No classes found.</p>
        <% } %>

    </div>

    <%- include('../partials/footer.ejs') %>
</body>
</html>

