<html lang="en">
<%- include ('../partials/head.ejs') %>
<body>
<%- include('../partials/nav.ejs') %>
    <div class="blogs content">
        <h2>Courses offered this semester</h2>
        
        <% if(role === 'teacher') { %>
            <p>Teacher</p>
            <ul>
                <li><a href="/blogs/create"><button class="btn">Add to the Course Catalog. </button></a></li>
                <% if (blogs.length > 0) { %>
                    <% blogs.forEach(blog => { %>
                      <a class="single" href="/blogs/<%= blog._id %>">
                        
                                <h3>Course Name: <%= blog.name %></h3>
                                <h3>Description: <%= blog.description %></h4>
                                <h3>Subject: <%= blog.subject %></h5>
                      </a>
                    <% }) %>
                  <% } else { %>
                    <p>There are no blogs to display...</p>
                  <% } %>
        <% } else if(role === 'student') { %>




            <p>Student</p>
            <ul>
                <li><a href="/searchpage"><button class="btn">Search for class</button></a></li>
                <% if(blogs.length > 0) { %>
                    <ul>
                        <% blogs.forEach(blog => { %>
                            <li>
                                <h3><%= blog.name %></h3>
                                <p><%= blog.description %></p>
                                <p>Subject: <%= blog.subject %></p>
                                <p>Credits: <%= blog.credits %></p>
                            </li>


                            <form action="blogs/add_class_to_course/<%= blog._id %>" method="POST" >
                                <input type="" name="blog_id" value="<%= blog._id %>">
                                <input type="" name="user_id" value="<%= user._id %>">
                                <button class="btn btn-lg btn-primary" type="submit">Add class</button>
                            
                            
                            </form>
                        <% }) %>
                    </ul>
                <% } %>
            </ul>
        <% } else { %>
            <p>No classes found.</p>
        <% } %>

    </div>   

    <%- include('../partials/footer.ejs') %>
    <script>
        var blog_id = document.getElementById("blog_id").value;
        var user_id = document.getElementById("user_id").value;

            fetch('/blogs/add_class_to_course/' + blog_id, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ user_id: user_id }),
            })
            .then(response => response.json())
            .then(data => {
                console.log('Success:', data);
            })
            .catch((error) => {
                console.error('Error:', error);
            });
    </script>
</body>
</html>
