<html lang="en">
<%- include ('../partials/head.ejs') %>
<body>
<%- include('../partials/nav.ejs') %>
    <div class="blogs content">
        <h2>Courses offered this semester</h2>
        
        <% if(blogs.length > 0) { %>
            <% blogs.forEach(blog => { %>
                <!-- instructor, name, description, subject , and  credits -->
                <a class="single" href="/blogs/<%= blog.id %>">
                    <h3>Course Name: <%= blog.name %></h3>
                    <h3>Description: <%= blog.description %></h4>
                    <h3>Subject: <%= blog.subject %></h5>
                    <h3>Credits: <%= blog.credits %></h6>
                </a>
            <% }) %>  
        <% } else { %>
            <p>No classes found.</p>
        <% } %>
    </div>

<%- include('../partials/footer.ejs') %>
</body>
</html>

