<html lang="en">
<%- include ('../partials/head.ejs') %>
<body>
<%- include('../partials/nav.ejs') %>

<h1>Search Results</h1>

<% if (blogs.length === 0) { %> 

    <p>No results found..</p>

<% } else { %>
    <ul>
        <% blogs.forEach(function(blog) { %>
            <h2><%= blog.name %></h2>
            <p><%= blog.description %></p>
            <p><%= blog.subject %></p>
            <p><%= blog.credits %></p>
          <% }); %>
    </ul>
<% } %>

<%- include('../partials/footer.ejs') %>
</body>
</html>