<html lang="en">
<%- include ('./partials/head.ejs') %>
<body>
<%- include('./partials/nav.ejs') %>
    <div class="blogs content">
        <h2>Courses offered this semester</h2>
        
        <% if(blogs.length > 0) { %>
            <% blogs.forEach(blog => { %>
                <!-- name, description, subject , and  credits -->
                <a class="single" href="/blogs/<%= blog.id %>">
                    <h3 class="title"><%= blog.name %></h3>
                    <p class="snippet"><%= blog.description %></p>
                    <p class="newclass"><%= blog.subject %></p>
                    <p class="newclass2"><%= blog.credits %></p>
                </a>
            <% }) %>  
        <% } else { %>
            <p>No classes found.</p>
        <% } %>
    </div>

<%- include('./partials/footer.ejs') %>
</body>
</html>

