<html lang="en">
<%- include ('./partials/head.ejs') %>
<body>
<%- include('./partials/nav.ejs') %>
<<<<<<< Updated upstream
    <div class="card">
        <h2>Something about class display</h2>
=======
    <div class="blogs content">
        <h1>This is our database</h1>
        <br>
        <h3>Feel free to Create, Update Or Delete classes.</h3>
        <br><br>
        <h1>Courses offered this semester</h1>
>>>>>>> Stashed changes
        
        <% if(blogs.length > 0) { %>
            <% blogs.forEach(blog => { %>
                <!-- name, description, subject , and  credits -->
                <h3 class="title"><%= blog.name %></h3>
                <p class="snippet"><%= blog.description %></p>
                <p class="newclass"><%= blog.subject %></p>
                <p class="newclass2"><%= blog.credits %></p>
            <% }) %>  
        <% } else { %>
            <p>No classes found.</p>
        <% } %>
    </div>

<%- include('./partials/footer.ejs') %>
</body>
</html>